<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
  <appSettings>
    <add key="CodeSaveFileDialogFilter" value="Native Mode (*.xml)|*.xml|Ruby Code (*.rb)|*.rb|SODA Code (*.xml)|*.xml|WatiN C# Code (*.cs)|*.cs|WatiN VB.NET Code (*.vb)|*.vb"></add>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
